@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=PT+Sans&display=swap");

/* Base mobile-first style for xsmall windows */

/* Some defaults */
/* Set ALL HTML elements with border-box sizing */
* {
  box-sizing: border-box;
}
/* Images and hr fill their container by default */
img {
  width: 100%;
}

/* Remove margins for headers and paragraphs by default */
h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* Layout */
body {
  padding: 0 16px;
  background-color: #2f2f2f;
}

.container {
  background-color: #fff;
  box-shadow: 8px 8px 32px -16px #000;
  border-radius: 8px;
}

header {
  margin: 16px 0 0;
  padding: 16px 0 0;
}

#logo {
  max-width: 120px;
  margin: 0 auto 32px;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  display: flex;
  padding: 0;
  list-style: none;
}

header nav ul li a {
  margin: 0 16px 0 0;
}

header nav ul li:last-child a {
  margin-right: 0;
}

section {
  padding: 16px 16px 0px;
}

.shadow-box {
  padding: 16px;
  margin: 0 8px 32px;
  border: 2px solid #2f2f2f;
  box-shadow: 8px 8px #64d4eb;
}

#banner {
  padding: 32px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contact {
  padding-bottom: 16px;
}

#contact form fieldset {
  display: flex;
  flex-direction: column;
}

#contact iframe {
  width: 100%;
  height: 300px;
  border: 0;
  border-radius: 8px;
}

/* Typography */
h1,
h2,
h3,
h4 {
  font-family: "Crimson Pro", Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 1.0625rem;
  line-height: 1.5rem;
  letter-spacing: 0.003125rem;
  margin: 0 0 1.5rem;
}

a {
  color: black;
  text-decoration-color: #64d4eb;
}

a:visited {
  text-decoration-color: #ae33f5;
}

a:hover {
  text-decoration-color: #33b1f5;
}

a:active {
  text-decoration-color: #f5f233;
}

h1 {
  font-size: 3.75rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 2.318rem 0;
}

h2 {
  font-size: 2.6875rem;
  font-weight: 400;
  letter-spacing: 0.015625rem;
  margin: 1.661rem 0;
  color: #fff;
  background-color: #000;
  padding: 8px 16px;
}

h3 {
  font-size: 1.875rem;
  font-weight: 400;
  letter-spacing: 0;
  margin: 1.159rem 0;
}

h4 {
  font-size: 1.5625rem;
  font-weight: 500;
  letter-spacing: 0.009375rem;
  margin: 0.965678107rem 0;
}

hr {
  width: 85%;
  border: 1px solid #d4cddc;
}

.caption {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 0.8125rem;
  font-weight: 300;
  letter-spacing: 0.025rem;
}

.button {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 0.9375rem;
  letter-spacing: 0.078125rem;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
}

/* Section specific styling */
/* Banner in header */
#banner h1 {
  font-family: "Crimson Pro", Georgia, "Times New Roman", Times, serif;
  font-size: 2.075rem;
  margin: 1.7rem auto;
  line-height: 3rem;
  letter-spacing: -0.09375rem;
}

#banner a:link,
#banner a:visited {
  text-decoration-color: #64d4eb;
}

#banner a:hover {
  text-decoration-color: #33b1f5;
}

#banner a:active {
  text-decoration-color: #f5f233;
}

#banner .disclaimer {
  font-family: "Crimson Pro", Georgia, "Times New Roman", Times, serif;
  color: gray;
  text-align: center;
}

/* Introduction */

#introduction .group {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 16px;
}

#introduction .item {
  margin: 0 auto;
  max-width: 50%;
}

#introduction h2 {
  padding: 0;
  font-size: 2.275rem;
  background-color: unset;
  color: #000;
}

#introduction .image-circle {
  border-radius: 50%;
}

/* About me */
#about {
  display: flex;
  flex-direction: column;
}

#about .first-blk {
  order: 1;
}

#about .second-blk {
  order: 2;
}

#about .third-blk {
  order: 3;
}

#about .interests {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#about .interests-img {
  position: relative;
  width: 100%;
  margin: 0 0 40px;
}

#about .interests-img h4 {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  margin: 0;
}

#about .interests-img h4 span {
  color: white;
  background-color: #000;
  box-shadow: 8px 8px #eec643;
}

/* Work showcase */
#work .group {
  margin: 32px 0;
}

#work .item {
  padding-bottom: 28px;
}

#work .item h3 {
  font-size: 2.4rem;
  margin-bottom: 0;
}

/* Contact Me */ 
#contact input,
#contact textarea {
  width: 100%;
  margin: 0 0 20px;
  border: 1px solid #000;
}

#contact textarea {
  height: 12rem;
}

#contact ul {
  list-style-type: none;
  margin: 42px auto;
  padding: 0;
  text-align: center;
}

#contact li {
  display: inline;
  margin-right: 20px;
  vertical-align: middle;
}

#contact li img {
  width: unset;
  max-width: 100px;
  max-height: 34px;
}

#contact .caption {
  font-size: 1.25rem;
  margin-bottom: 4px;
}

form input[type="text"],
form input[type="email"],
form textarea {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
  padding: 8px;
}

#contact form button {
  border: 0px;
}

/* Footer */
footer h3 {
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

/* Small Window Breakpoint */
@media all and (min-width: 600px) {
  h2 {
    max-width: fit-content;
  }

  .button:hover {
    border: 2px solid #000;
    padding: 6px 10px;
    background-color: #fff;
    color: #000;
  }

  #banner h1 {
    font-size: 3.25rem;
    margin: 2rem auto;
    line-height: 4rem;
    letter-spacing: -0.09375rem;
  }

  #introduction h2 {
    font-size: 2.6875rem;
  }

  #introduction .item {
    max-width: 40%;
  }

  #about .interests-img {
  position: relative;
  width: 47%;
  margin: 0px 4px 40px;
}

  #about .interests-img h4 {
    font-size: 1.25rem;
  }

  #work .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #work .item {
    width: 47%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #work .item .button {
    align-self: flex-end;
  }

  #contact form button:hover {
    border: 2px solid #000;
  }

  #contact .nohover:hover {
    background-color: #000;
    color: #fff;
  }
}

@media all and (min-width: 720px) {
  header,
  section {
    padding: 16px 28px 0;
  }

  #banner {
    padding: 32px 8px 16px;
  }

  p {
    font-size: 1.1625rem;
  }

  .button {
    font-size: 1.2rem;
  }

  #banner h1 {
    font-size: 4rem;
    margin: 2rem auto;
    line-height: 4.75rem;
    letter-spacing: -0.09375rem;
  }

  #introduction .group {
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 0;
    padding-top: 0;
  }

  #introduction .item {
    flex: 1;
    margin-right: 24px;
    align-self: center;
  }

  #introduction .item-triple {
    flex: 3;
  }

  #introduction h2 {
    margin-top: 0px;
  }

  #about .interests-img h4 {
    font-size: 1.35rem;
    top: 45%;
    width: 100%;
  }

  #work .item {
    width: 44%;
    margin: 0 16px 32px;
  }

  #contact .group {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #contact .item-form {
    width: 100%;
    order: 1;
    margin: 0 32px 0 0;
  }

  #contact fieldset {
    padding: 32px;
  }

  #contact .item-map {
    width: 48%;
    order: 3;
  }

  #contact .item-social {
    width: 48%;
    order: 2;
  }
}

/* Medium Window Breakpoint */
@media all and (min-width: 1024px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }

  header,
  section {
    padding: 16px 32px 0;
  }

  p {
    font-size: 1.3625rem;
    line-height: 1.875rem;
  }

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  #logo {
    max-width: 132px;
    margin: 0 auto 32px 0;
  }

  nav .button {
    font-size: 1.48rem;
    padding: 12px 16px;
  }

  nav .button:hover {
    padding: 10px 14px;
  }

  #banner h1 {
    font-size: 5rem;
    margin: 2rem auto;
    line-height: 5.75rem;
    letter-spacing: -0.09375rem;
  }

  #introduction {
    padding: 16px 42px 0;
  }

  #about .interests-img {
    width: 46%;
    margin: 0px 16px 40px;
  }

  #about .interests-img h4 {
    font-size: 1.75rem;
    top: 45%;
    width: 100%;
  }
}
