@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro&family=PT+Sans&display=swap");

/* Set ALL HTML elements with border-box sizing */
* {
  box-sizing: border-box;
}
/* Base containers */
body,
footer {
  background-color: #151a1b;
}

.container {
  width: 1200px;
  margin: 0px;
  margin-top: 27px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}

.wrapper {
  width: 960px;
  margin: auto;
  padding: 20px;
}
/* Headings, paragraphs and links */
h1,
h2,
h3 {
  font-family: "Crimson Pro", Georgia, "Times New Roman", Times, serif;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: -1.5px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 48px;
  font-weight: 400;
  letter-spacing: 0px;
}

p,
li {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 24px;
}

a,
a:link {
  color: black;
  text-decoration-color: #64d4eb;
}

a:visited {
  text-decoration-color: #ae33f5;
}

a:hover {
  text-decoration-color: #33b1f5;
}

a:active {
  text-decoration-color: #f5f233;
}

/* Header */
header .wrapper {
  height: 450px;
  padding: 42px;
  margin-top: 96px;
  margin-bottom: 20px;
}

header h1 {
  margin: 0px;
  line-height: 78px;
  text-align: center;
}

header a:link,
header a:visited {
  text-decoration-color: #64d4eb;
}

header a:hover {
  text-decoration-color: #33b1f5;
}

header a:active {
  text-decoration-color: #f5f233;
}

header .disclaimer {
  font-family: "Crimson Pro", Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  color: gray;
  text-align: center;
}

header hr {
  margin-top: 70px;
}
/* Nav */
nav .logo {
  width: 125px;
  float: left;
  margin: 18px 30px;
}

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 50px 20px 0px 20px;
}

nav li {
  font-family: "PT Sans", Arial, Helvetica, sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  margin-right: 20px;
  display: inline;
  float: right;
}

nav a {
  text-decoration: none;
  padding: 10px;
  border: 3px solid black;
}

nav a:hover {
  background-color: black;
  color: white;
}
/*  Introduction Section */
#introduction {
  margin-top: 20px;
  margin-bottom: 20px;
}

.left-frame {
  width: 200px;
  float: left;
  margin-right: 30px;
}

.image-circle {
  width: 200px;
  border-radius: 50%;
}

#introduction h2 {
  margin-top: 0px;
  margin-bottom: 20px;
}
/* About section */
#about {
  background-color: lightgray;
  background-image: url("images/dawn.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position-y: 0px;
  padding: 48px 0px;
}

#about .wrapper {
  background-color: white;
  border-left: 10px solid #151a1b;
}

/* Contact Section*/
#contact .map {
  width: 640px;
  margin: 48px auto;
}

#contact iframe {
  border: 0;
}

#contact p {
  text-align: center;
}

#contact ul {
  list-style-type: none;
  margin: 42px;
  padding: 0px;
  text-align: center;
}

#contact li {
  display: inline;
  margin-right: 48px;
  vertical-align: middle;
}
/* Footer */
footer h3 {
  color: white;
  font-size: 24px;
  text-align: center;
}
